<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ playlist.title }}</h1>
        <p class='text-muted'>Created on {{ playlist.created_at }}
                at {{ playlist.created_at.strftime('%I:%M %p') }}</p>
        <h2>{{ playlist.description }}</h2>
        {% for video in playlist.videos %}
            {% include 'partials/video.html' %}
        {% endfor %}
        <p><a class="btn btn-info" href='/playlists/{{ playlist._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/playlists/{{ playlist._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
        <hr>

        <!-- Comment Form -->
        {% include 'partials/comment_form.html' %}

        <hr>

        <!-- Show comments -->
        {% for comment in comments %}
            {% include 'partials/comment.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
